/**
 * MIT License
 *
 * Copyright (C) 1964-2021 Mladen Turk
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

#include <windows.h>
#include "lua.h"

#define CPP_TOSTR_HELPER(n)     #n
#define CPP_TOSTR(n)            CPP_TOSTR_HELPER(n)

#if defined(_VENDOR_NUM)
# define LUA_PATCH_VERSION      _VENDOR_NUM
#else
# define LUA_PATCH_VERSION      0
#endif
#if defined(_VENDOR_SFX)
# define LUA_VENDOR_SFX         CPP_TOSTR(_VENDOR_SFX)
#else
# define LUA_VENDOR_SFX         ""
#endif

#define LUA_VERSION_STR \
                                LUA_VERSION_MAJOR "."   \
                                LUA_VERSION_MINOR "."   \
                                LUA_VERSION_RELEASE     \
                                LUA_VENDOR_SFX

#define LUA_VERSION_CSV         5,4,3, LUA_PATCH_VERSION

#define APP_NAME_STR            CPP_TOSTR(APP_NAME)
#define BIN_NAME_STR            CPP_TOSTR(BIN_NAME)


#ifdef ICO_FILE
1 ICON DISCARDABLE "lua.ico"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION LUA_VERSION_CSV
 PRODUCTVERSION LUA_VERSION_CSV
 PRODUCTVERSION LUA_VERSION_CSV
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 0x1L  /* VS_FF_DEBUG */
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
#ifdef APP_FILE
 FILETYPE VFT_APP
#else
 FILETYPE VFT_DLL
#endif
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",          "Licensed under the MIT license"
            VALUE "CompanyName",        LUA_AUTHORS
            VALUE "FileDescription",    APP_NAME_STR
            VALUE "FileVersion",        LUA_VERSION_STR
            VALUE "InternalName",       BIN_NAME_STR
            VALUE "LegalCopyright",     LUA_COPYRIGHT
            VALUE "OriginalFilename",   BIN_NAME_STR
            VALUE "ProductName",       "Lua"
            VALUE "ProductVersion",     LUA_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
